.pollution-card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.pollution-card h2{
    margin-bottom:18px;
}

.source-row{
    display:flex;
    justify-content:space-between;
    padding:10px 0;
    border-bottom:1px solid #eee;
}

.source-row:last-child{
    border:none;
}