.recommendation-card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-top:25px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.recommendation-card ul{
    margin-top:15px;
    padding-left:20px;
}

.recommendation-card li{
    margin-bottom:10px;
}