.sidebar{

    width:250px;

    min-height:100vh;

    background:#ffffff;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

    padding:25px;

    box-shadow:4px 0 18px rgba(0,0,0,.08);
}

/* Header */

.sidebar-header{

    text-align:center;

    margin-bottom:35px;
}

.sidebar-header h2{

    color:#2563eb;

    font-size:28px;

    margin-bottom:5px;
}

.sidebar-header p{

    color:#64748b;

    font-size:14px;
}

/* Menu */

.sidebar-menu{

    display:flex;

    flex-direction:column;

    gap:12px;
}

.menu-item{

    display:flex;

    align-items:center;

    gap:14px;

    padding:16px;

    border-radius:14px;

    text-decoration:none;

    color:#334155;

    font-size:17px;

    font-weight:600;

    transition:.3s;
}

.menu-item svg{

    font-size:20px;
}

.menu-item:hover{

    background:#eff6ff;

    color:#2563eb;

    transform:translateX(8px);
}

.menu-item.active{

    background:linear-gradient(90deg,#2563eb,#1d4ed8);

    color:white;

    box-shadow:0 8px 18px rgba(37,99,235,.25);
}

/* Footer */

.sidebar-footer{

    display:flex;

    align-items:center;

    gap:10px;

    padding-top:25px;

    border-top:1px solid #e2e8f0;

    color:#475569;

    font-size:15px;

    font-weight:600;
}

.status-dot{

    color:#22c55e;

    font-size:12px;
}